.container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
}

.login-box {
  background: #070707;
  border-radius: 1.5rem;
  border: none;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  padding: 2rem 2.5rem;
  width: 100%;
  max-width: 400px;
  height: 450px;
}
[data-theme="light"] .login-box {
  background: rgba(255, 255, 255, 0.7);
}
.Welcome h3 {
  text-align: center;
  margin-bottom: 0.3rem;
  color: #fffbde;
  font-size: 160%;
}
[data-theme="light"] .Welcome h3 {
  color: #000;
}
.Welcome p {
  text-align: center;
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.sign-up {
  color: #fffbde;
  padding: 1.5%;
  font-size: 95%;
}

.sign-up:hover {
  color: #91c8e4;
}
.login-form input {
  width: 100%;
  padding: 0.6rem 0.9rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.89rem;
  outline: none;
  background-color: #000000;
  color: #fffbde;
}
[data-theme="light"] .login-form input {
  background: #f9f6f0;
  color: #000;
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.toggle-visibility {
  position: absolute;
  right: 0.8rem;
  top: 35%;
  transform: translateY(-40%);
  cursor: pointer;
  color: #ccc;
  stroke: #ccc;
  font-size: 1rem;
  user-select: none;
}
[data-theme="light"] .toggle-visibility {
  stroke: #000;
}

.forgot-password {
  text-align: right;
  font-size: 0.85rem;
  color: #fffbde;
  cursor: pointer;
  margin-bottom: 2rem;
}
[data-theme="light"] .forgot-password {
  color: #000000;
}
.login-btn {
  width: 100%;
  padding: 0.8rem;
  background-color: #ffedf3cd;
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
[data-theme="light"] .login-btn {
  background: #f7eed9;
}

.login-btn:focus {
  outline: none;
}
.register-alert {
  font-size: 1.4rem;
  justify-self: end;
  padding: 0px;
  transition: 1s ease-in-out;
}
.google-login-btn {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  padding: 10px 16px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  background-color: white;
  color: #3c4043;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.google-login-btn:hover {
  background-color: #f7f8f8;
}

.google-icon {
  width: 20px;
  height: 20px;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: -11px;
  margin-bottom: 11px;
  color: #777;
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}
